header {

    padding: 20px;
    background: rgb(221, 216, 216);
}

main {
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
}

.goods-item {
    border: 1px solid rgb(211, 211, 211);
    text-align: center;
    margin-right: 50px;
    padding-bottom: 10px;
    color: rgb(110, 110, 110);
}

.goods-list {
    display: flex;
}